/* ▼ WHERE YOUR CODE BEGINS */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: beige;
}

button{
    background-color: #ffffff;
    border: none;
}

.line-button{
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    color: #151B26;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 18px 30px;
}

.line-button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0066FF;
    transition: width 250ms;
}

.line-button:hover::after{
    width: 100%;
}