/* ▼ WHERE YOUR CODE BEGINS */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Muli', sans-serif;
    background-color: beige;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 216px;
    background-color: #ffffff;
}

.loading-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333333;
    text-align: center;
    margin-bottom: 20px;
    color: #151B26;
    animation-name: loading;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress-bar{
    position: relative;
    width: 300px;
    height: 12px;
    background-color: #E5EAEF;
    border-radius: 100px;
    overflow: hidden;
}

.progress-bar-gauge{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 100px;
    background-color: #13CE66;
    animation-name: gauge;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes gauge{
    0%{
        width: 0;  
        opacity: 1;      
    }
    90%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 100%;
        opacity: 0;
    }
}

@keyframes loading{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
