.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: beige;
}

.card{
  display: flex;
  background-color: #FFFFFF;
  width: 840px;
  padding: 24px;
}

.card-content{
  /*flex-grow: 남은 공간을 채울건지 (0안채울게 1/2/3...채울래)*/
  flex-grow: 1;
}

.card-image{
  background-image: url('./assets/img-house.jpg');
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 6px;
  margin-right: 32px;
  position: relative;
}

.like-button{
  position: absolute;
  top: 12px;
  left: 12px;
  background-image: url(./assets/icon-favorite.svg);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-size: 24px 24px;
  /*마우스 포인터*/
  cursor: pointer;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge{
  display: inline-block;
  width: 48px;
  height: 22px; 
  background-color: #92174D;
  font-size: 14px;
  line-height: 1.4285714; 
  font-weight: 500;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 1px 8px;
  margin-right: 6px;
  text-transform: uppercase;
}

.property-rate::before{
  /*가상요소엔 content반드시 써야함*/
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/icon-star.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
}


.card-title{
  margin-bottom: 16px;
  color: #151B26;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
}

.fc-secondary{
  color: #7D858F;
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong{
  color: #151B26;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400; 
}

.property-detail{
  font-size: 14px;
  line-height: 1.142857;
}

.sr-only{
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -100;
  overflow: hidden;
}

.property-detail dd span::after{
  content: 'ㆍ';
  margin: 0 8px;
}

/*자식가상요소의 마지막 요소*/
.property-detail dd span:last-child::after{
  content: '';
  margin: 0;
}

.property-detail div:first-child{
  margin-bottom: 8px;
}